<div class="clear"></div>
<div class="footer">
    <div class="wrap">
        <h3>SAY HELLO</h3>
        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Vestibulum ut tortor urnati dunt

            dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultri dolore cie

            lorem ipsum commete.</p>
        <div class="footerlinks">
            <div class="share">
                <li><a href="#" target="_blank" title="VK"><span class="social vk"> </span></a></li>

            </div>
        </div>
    </div>
</div>
<div class="footer1">
    <p class="link"><span>© 2022 pro_blog.| Designed by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a>	</span>
    </p>
</div>