{% load static %}

<div class="header">
    <div class="wrap wrap-header">
        <div class="logo">
            <a href="{% url 'home'%}"><img src="{% static 'images/logo.png' %}" title="logo"/></a>
        </div>
        <div class="login">
            {% if user.is_authenticated %}
                <p> Добро пожаловать {{ user.get_full_name }}!</p>
                <a href="{% url 'authapp:profile' %}">Профиль</a> |
                <a href="{% url 'authapp:logout' %}">Выйти</a>
            {% else %}
                <p>Вы не вошли в систему:</p>
                <a href="{% url 'authapp:login' %}">Войти</a> |
                <a href="{% url 'authapp:signup' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
</div>