{% load category %}
<div class="header-nav1">
    <div class="wrap">
        <ul>
            <li class="current"><a href="{% url 'home' %}">Все публикации</a></li>
            {% list_category %}
        </ul>
        <div class="search-bar">
            <ul>
                <li>
                    <form action="{% url 'mainapp:search-results' %}">
                        <input type="text" name="q" placeholder="Искать здесь...">
                        <!-- <input type="submit" value=""/> -->
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!-- End-Header-->
    <div class="clear"></div>
    <!-- content-gallery-->
</div>