{% load static %}

<div class="services-sidebar">
    <h4>Tags</h4>
    <ul>
        <li><img src="{% static 'images/pointer.png' %}" title="pointer"/><a href="#">Программирование</a></li>
        <li><img src="{% static 'images/pointer.png' %}" title="pointer"/><a href="#">IT-компании</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">Python</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">Системное администрирование</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">JavaScript</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">Алгоритмы</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">Разработка веб-сайтов</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">DevOps</a></li>
        <li><img src="{% static 'images/pointer.png' %}"/><a href="#">Машинное обучение</a></li>
    </ul>
    <br>
</div>