{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block messages %}
    {# Leave this one empty to keep the login page clean from all messages #}
{% endblock messages %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <br/>
        <div>You can  <a href="{% url 'authapp:signup' %}">signup</a> if you don't have an account</div>
        <br>
        <div>Forgot your password? Not a problem: you can always <a href="{% url 'authapp:password-reset' %}">reset</a> it!</div>
    </div>
    <br/>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-primary" role="button">
    ВКонтакте <i class="fa fa-vk"></i>
    </a>
    <a href="{% url 'social:begin' 'github' %}?next=/" class="btn btn-dark" role="button">
    Github <i class="fa fa-github"></i>
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-warning" role="button">
    Google <i class="fa fa-google"></i>
    </a>
{% endblock content %}