{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock title %}

{% block messages %}
    {# Leave this one empty to keep the login page clean from all messages #}
{% endblock messages %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button type="submit">Войти</button>
        </form>
        <br/>
        <div>Вы можете <a href="{% url 'authapp:signup' %}">Зарегистрироваться</a> ,если у вас еще нет аккаунта</div>
        <br>
        <div>Заыли пароль? Ничего страшного: вы всегда можете <a href="{% url 'authapp:password-reset' %}">сбросить</a> его!</div>
        <br>
        Вы можете зайти с помощью аккаунта одной из соцсетей:
    </div>
    <br/>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-primary" role="button">
    ВКонтакте <i class="fa fa-vk"></i>
    </a>
    <a href="{% url 'social:begin' 'github' %}?next=/" class="btn btn-dark" role="button">
    Github <i class="fa fa-github"></i>
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-warning" role="button">
    Google <i class="fa fa-google"></i>
    </a>
{% endblock content %}