{% extends 'base.html' %}

{% block title %}
    Confirmation of password resetting
{% endblock title %}

{% block content %}
    {% if validlink %}
        <h3>Enter your new password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirm</button>
        </form>
    {% else %}
        <p>
            Oops, something went wrong!<br>
            Probably the password reset link was invalid or something similar.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}


{% comment %}
    {% else %}
    <div>

    </div>
{% endcomment %}