{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock title %}

{% block content %}
    <h3>Сбросить пароль</h3>
    <br/>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button type="submit">Сбросить пароль</button>
        </form>
        <br/>
        <div>Вы можете <a href="{% url 'authapp:signup' %}">зарегистрироваться</a>, если хотьте создать новый аккаунт.</div>
    </div>
{% endblock content %}
