{% extends 'base.html' %}

{% block title %}
    Change your password
{% endblock title %}

{% block content %}
    <h3>Change password</h3>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="confirmation-buttons">
                <div><a href="{% url 'authapp:profile' %}"><= Back to my profile</a></div>
                <div><button type="submit">Change password</button></div>
            </div>
        </form>
    </div>
{% endblock content %}
