{% extends 'base.html' %}

{% block title %}
    Смена пароля
{% endblock title %}

{% block content %}
    <h3>Изменить пароль</h3>
    <br/>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <div class="confirmation-buttons">
                <div><a href="{% url 'authapp:profile' %}"><= Вернуться к профилю</a></div>
                <div><button type="submit">Изменить пароль</button></div>
            </div>
        </form>
    </div>
{% endblock content %}
