{% extends 'base.html' %}

{% block title %}
    Подтверждение смены пароля
{% endblock title %}

{% block content %}
    {% if validlink %}
        <h3>Введите новый пароль</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button type="submit">Подтвердить</button>
        </form>
    {% else %}
        <p>
            Упс, что-то пошло не так!<br>
            Скорее всего ссылка на смену пароля не доступна.
            Пожалуйста, запросите смену пароля еще раз.
        </p>
    {% endif %}
{% endblock content %}


{% comment %}
    {% else %}
    <div>

    </div>
{% endcomment %}