{% extends 'base.html' %}
{% load static %}

{% block title %}
    Профиль
{% endblock title %}

{% block messages %}
    {{ block.super }}
{% endblock messages %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="profile__card">
            {% if user.avatar %}
                <img class="profile__avatar" src="{{ user.avatar }}" alt="">
            {% else %}
                <img class="profile__avatar" src="{% static 'images/default_avatar.png' %}" alt="">
            {% endif %}
            <div class="profile__data">
                <h4>Добро пожаловать в ваш профиль {{ user.get_full_name }}!</h4>
                <ul>
                    <li><span class="profile__data-titles">Username:</span> {{ user.username }}</li>
                    <li><span class="profile__data-titles">Name:</span> {{ user.get_full_name }}</li>
                    <li><span class="profile__data-titles">Email:</span> {{ user.email }}</li>
                    <li><span class="profile__data-titles">Дата регистрации:</span> {{ user.date_joined }}</li>
                    <li><span class="profile__data-titles">История поств:</span> <a href="{% url "mainapp:user-posts" %}">Мои посты</a></li>
                    <li><span class="profile__data-titles">История комментариев:</span><a href="{% url "mainapp:user-comments" %}">Мои комментарии</a></li>
                </ul>
                <p><a href="{% url 'authapp:password-change' %}">Смена пароля</a></p>
                <br/>
                <hr/>
                <div class="profile__cms">
                    <a href="{% url "mainapp:post-create" %}" class="profile__cms__add-post">Новый пост + </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
