{% load static %}


{% block title %}
Post list
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="bloger-grid">
            <h5><a href="single.html">{{ post.title }}</a></h5>
            <p>
                {{ post.content|truncatewords:30 }}
            </p>
            <ul>
                <li><a href="#">{{ post.published_at }}</a></li>
                <li><a href="#"> tags: {{ post.tag }}</a></li>
                <li><a href="{% url 'mainapp:post_detail' %}"><span>Читать далее</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
        </div>
    {% endfor %}
    {% include 'mainapp\pagination.html' %}
{% endblock %}