{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} | {{ post.author }}
{% endblock %}

{% block content %}
    <div class="bloger-content">
        <div class="blog-box1">
            <div class="blog-box-image">
                <img src="{% static "images/post_03.png" %}" title="preview" alt="post image"/>
            </div>
            <div class="post__content">
                <h2>{{ post.title }}</h2>
                <h6>Категория: <a href=""> {{ post.category }}</a></h6>
                {% include "mainapp/inc-tags.html" %}
                <p>
                    {{ post.content }}
                </p>
                <ul class="post__footer">
                    <li>Создан: {{ post.created_at }}</li>
                    <li>Автор: <a href="#">{{ post.author }}</a></li>
                    <!-- LikeBtn.com BEGIN -->
                    <span class="likebtn-wrapper" data-theme="github" data-lang="ru" data-identifier="item_1"></span>
                    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                    <!-- LikeBtn.com END -->
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    {% block comments %}
        <div class="bloger-content">
            <div class="blog-box1">

                <form class="post__content" method="POST">
                    {% csrf_token %}
                    <br>
                    Your comment: 
                    <br>{{ form.content }}
                    <br>
                    <button class="submit post__create-form__save-btn">Reply</button>
                </form>
                
                {% if comments %}
                    <br><br>
                    <h5 class="post__content">Comment{{ comments.count|pluralize }}: {{ comments.count }}</h5>
                        <div class="post__content">
                            {% for comment in comments %}
                                {% if comment.active %}
                                    <br>
                                    Author: {{ comment.author }}
                                    <br>
                                    {{ comment.content }}
                                    <br>
                                    Created at: {{ comment.created_at|date:"d M Y H:i" }}
                                    <br>
                                    <div class='like'>
                                        <button class='like-toggle basic'>♥</button>
                                        <span class='hidden'>1 Like</span>
                                    </div>
                                    <br>
                                {% endif %} 
                            {% endfor %}
                        </div>
                {% endif %}

            </div>
        </div>
    {% endblock comments %}
{% endblock %}
