{% load static %}

{% block content %}
    <div class="bloger-content">
        {% for post in posts %}
            <div class="bloger-grid">
                <h5><a href="single.html">{{ post.title }}</a></h5>
                {% include "mainapp/inc-tags.html" %}
                <p>
                    {{ post.content|truncatewords:30 }}
                </p>
                <ul class="post__footer">
                    <li><a href="#">{{ post.published_at }}</a></li>
                    <li class="post__read-more"><a href="{% url "mainapp:post-detail" pk=post.id %}"><span>Читать далее ></span></a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
    {% include 'mainapp/pagination.html' %}
{% endblock %}