{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} | {{ post.author }}
{% endblock %}

{% block content %}
<div class="bloger-content">

    <div class="blog-box1">
        <div class="blog-box-image">
            <img src="{% static "images/post_03.png" %}" title="preview" alt="post image"/>
        </div>
        <div class="post__content">
            <h2>{{ post.title }}</h2>
            <h6>Категория: <a href=""> {{ post.category }}</a></h6>
            {% include "mainapp/inc-tags.html" %}
            <p>
                {{ post.content }}
            </p>
            <ul class="post__footer">
                <li>Опубликованно: {{ post.created_at }}</li>
                <li>Автор: <a href="#">{{ post.author }}</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
