{% extends "base.html" %}


{% block title %}
    My Comments
{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block content %}
    <h1 class="post__users-posts-header">My comments</h1>
    
    {% for comment in user_comments %}
        <div class="post__content">
            <a href="{{ comment.post.get_absolute_url }}">{{ comment.post }}</a>
            <br>
            <h5>Comment:</h5>{{ comment.content }}
            <br>
            Left at: {{ comment.created_at|date:"d M Y H:i" }}
            <br><br><br>
        </div>
    {% endfor %}
        
{% endblock content %}
