{% extends "base.html" %}


{% block title %}
    Мои комментарии
{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block content %}
    <h1 class="post__users-posts-header">Список моих комментриев</h1>
    
    {% for comment in user_comments %}
        <div class="comment_content">
            <a href="{{ comment.post.get_absolute_url }}">Пост: {{ comment.post }}</a>
            <br>
            <h5> Текст комментариев:</h5>
            <p>{{ comment.content }}</p>
            <br>
            Дата создания: {{ comment.created_at|date:"d M Y H:i" }}
            <br><br><br>
        </div>
    {% endfor %}
        
{% endblock content %}
